html{
	box-sizing: border-box;
	font-family: 'Merriweather', serif;}

*, *::before, *::after {
	box-sizing: inherit;}

body{
	margin: 0;}

header{
	background-color: #cd5b34;
	text-align: center;
	display:block;
	padding: .25em;}

h1{
	color: white;
	font-weight: bolder;}

h2{
	background-color: #d98156}

ol{
	display: inline-block;
	padding: 0}

li{
	display: inline-block;
	list-style: none;
	color: white;}

.inset-left{
	float: left;
	clear: left;
	margin: 10px;}

.inset-right{
	float: right;
	clear: left;
	margin: 10px}

.inset-right-2{
	float: right;
	clear: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;}

div{
	padding-left: 1em;
	font-size: 1.25em;}

img{
	border: 0.125em solid #cccccc;
	width: 33%}

