html{
	box-sizing: border-box;
	font-family: 'Merriweather', serif;}

*, *::before, *::after {
	box-sizing: inherit;}

body{
	margin: 0;}

header{
	background-color: #cd5b34;
	text-align: center;
	display:block;
	padding: .25em;}

h1{
	color: white;
	font-weight: bolder;}

h2{
	background-color: #d98156;
	padding: 1.75rem;
	text-align: center;
	font-weight: bolder;
	color: white;
	clear: both;}

ol{
	display: inline-block;
	padding: 0}

li{
	display: inline-block;
	list-style: none;
	color: white;}

.inset-left{
	float: left;
	clear: left;
	margin: 10px;
	width: 40%;}

.inset-right{
	float: right;
	clear: left;
	margin: 10px;
	width: 40%;}

.inset-right-2{
	float: right;
	clear: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 40%;}

div{
	padding-left: 1em;
	font-size: 1.25em;}

nav{
	clear: left;
	text-align: center;}

nav a{
	color: white;
	text-decoration: none;}

nav li{
	float: left;
	width: 33.3%;
	border: 1px solid #a33f3a;
	list-style-type: none;}

a:hover{
	color:#cc3865;}

img{
	border: 0.125em solid #cccccc;
	width: 40%}

footer{
	background-color: #cd5b34;
	padding: 0.75em;
	text-align: center;}

.grain {
	width: 25%;
}
